

        <div id="{{ matchbet.match.id }}" class="div-table bettable">
            
            <div class="div-row huge-gap">&nbsp;</div>
            
            <div class="div-row">
                <div class="div-cell bettable-r1">
                    <span class="toggle-bets">
                        {{ matchbet.match.begin | date:"d.m.Y,H:i" }}
                    </span>
                </div>
                <div class="div-cell right bettable-r2">
                    {{ matchbet.match.team1.name }}
                </div>
                <div class="div-cell center bettable-r3">
                    -
                </div>
                <div class="div-cell bettable-r4">
                    {{ matchbet.match.team2.name }}
                </div>
                <div class="div-cell bettable-r5">
                    <span> n. 90' </span>
                </div>
                <div class="div-cell bettable-r6">
                    <span> n. Verl. </span>
                </div>
                <div class="div-cell bettable-r7">
                    <span> Elfer </span>
                </div>
                <div class="div-cell bettable-r8">
                    Pkte
                </div>
            </div>

            <div class="div-row">
                <div class="div-cell bettable-r1">
                    Spielergebnis
                </div>
                <div class="div-cell right bettable-r2">
                    &nbsp;
                </div>
                <div class="div-cell center bettable-r3">
                    &nbsp;
                </div>
                <div class="div-cell bettable-r4">
                    &nbsp;
                </div>
                <div class="div-cell bettable-r5">
                    <div class="div-cell score-team">
                        {{ matchbet.match.team1_score_regular | default_if_none:"" }}                    
                    </div>
                    <div class="div-cell score-hyphen">
                        -
                    </div>
                    <div class="div-cell score-team">
                        {{ matchbet.match.team2_score_regular | default_if_none:"" }}
                    </div>
                </div>
                <div class="div-cell bettable-r6">
                    {% if  matchbet.match.has_overtime %}
                        <div class="div-cell score-team">
                            {{ matchbet.match.team1_score_overtime | default_if_none:"" }}
                        </div>
                        <div class="div-cell score-hyphen">
                            -
                        </div>
                        <div class="div-cell score-team">
                            {{ matchbet.match.team2_score_overtime | default_if_none:"" }}
                        </div>
                    {% endif %}
                </div>
                <div class="div-cell bettable-r7">
                    {% if matchbet.match.has_penalties %}
                        <div class="div-cell score-team">
                            {{ matchbet.match.team1_score_penalties | default_if_none:"" }}
                        </div>
                        <div class="div-cell score-hyphen">
                            -
                        </div>
                        <div class="div-cell score-team">
                            {{ matchbet.match.team2_score_penalties | default_if_none:"" }}
                        </div>
                    {% endif %}
                </div>
                <div class="div-cell bettable-r8">
                    -
                </div>
            </div>
            
            {% for bitem in matchbet.betlist %}
                {% include "bet/_bet.html" %}
            {% endfor %}
        </div>
       
