

        <table id="{{ matchbet.match.id }}" class="matchtable">
            <tr>
                <td class="bettable-r1">
                    <span class="toggle-bets">
                        {{ matchbet.match.begin | date:"d.m.Y,H:i" }}
                    </span>
                </td>
                <td class="bettable-r2">
                    {{ matchbet.match.team1.name }}
                </td>
                <td class="bettable-r3">
                    -
                </td>
                <td class="bettable-r4">
                    {{ matchbet.match.team2.name }}
                </td>
                <td class="bettable-r5">
                    n. 90'
                </td>
                <td class="bettable-r6">
                    n. Verl.
                </td>
                <td class="bettable-r7">
                    Elfer
                </td>
                <td class="bettable-r8">
                    Pkte
                </td>
            </tr>

            <tr>
                <td class="bettable-r1">
                    Spielergebnis
                </td>
                <td class="bettable-r2">
                    &nbsp;
                </td>
                <td class="bettable-r3">
                    &nbsp;
                </td>
                <td class="bettable-r4">
                    &nbsp;
                </td>
                <td class="bettable-r5">
                    <div class="div-cell score-team1">
                        {{ matchbet.match.team1_score_regular | default_if_none:"" }}                    
                    </div>
                    <div class="div-cell score-hyphen">
                        -
                    </div>
                    <div class="div-cell score-team2">
                        {{ matchbet.match.team2_score_regular | default_if_none:"" }}
                    </div>
                </td>
                <td class="bettable-r6">
                    {% if  matchbet.match.has_overtime %}
                        <div class="div-cell score-team1">
                            {{ matchbet.match.team1_score_overtime | default_if_none:"" }}
                        </div>
                        <div class="div-cell score-hyphen">
                            -
                        </div>
                        <div class="div-cell score-team2">
                            {{ matchbet.match.team2_score_overtime | default_if_none:"" }}
                        </div>
                    {% endif %}
                </td>
                <td class="bettable-r7">
                    {% if matchbet.match.has_penalties %}
                        <div class="div-cell score-team1">
                            {{ matchbet.match.team1_score_penalties | default_if_none:"" }}
                        </div>
                        <div class="div-cell score-hyphen">
                            -
                        </div>
                        <div class="div-cell score-team2">
                            {{ matchbet.match.team2_score_penalties | default_if_none:"" }}
                        </div>
                    {% endif %}
                </td>
                <td class="bettable-r8">
                    -
                </td>
            </tr>
            
            {% for mybet in matchbet.mybetlist %}
                {% if matchbet.match.status == 10 and mybet.frmbet.instance.account.membership.user.id == user.id %}
                    {% include "bet/_frmbet.html" %}
                {% else %}
                    {% include "bet/_bet.html" %}
                {% endif %}
            {% endfor %}
        </table>
        <div class="gap"></div>
       
