{% extends "base.html" %}

{% block title %}

Add a Bet

{% endblock %}


{% block content %}

<form id="add_bet_form" method="post" action="/bet/add_bet/">
    {% csrf_token %}

    <input type="hidden" name="bet" value="{{bet.id}}" / >
    <input type="hidden" name="account" value="{{bet.account_id}}" / >
    <input type="hidden" name="match" value="{{match.id}}" / >

    <!-- select name="match" id="{{ match.id }}" selected="{{ match.id }}">
        {% for match in matches %}
            <option value="{{ match.id }}">{{ match.team1.name }} / {{ match.team2.name }}</option>
        {% endfor %}
    </select -->
    
    <div>Pool: "{{ pool.label }}"</div>

    <div>Match: "{{ match.begin }} {{ match.team1.name }} {{ match.team2.name }}"</div>
    <br />
    
    <div class="div-table">
        <div class="div-row">
            <div class="div-cell">
                {{ match.team1.name }}
            </div>
            <div class="div-cell">
                : 
            </div>
            <div class="div-cell">
                {{ match.team2.name }}
            </div>
        </div>
        <div class="div-row">
            <div class="div-cell">
                <input type="text" name="team1_score_regular" value="{{ bet.team1_score_regular }}" size="4" /> 
            </div>
            <div class="div-cell">
                &nbsp;
            </div>
            <div class="div-cell">
                <input type="text" name="team2_score_regular" value="{{ bet.team2_score_regular }}" size="4" />
            </div>
        </div>
                
    {% if match.overtime %} 
        <div class="div-row">
            <div class="div-cell">
                <input type="text" name="team1_score_overtime" value="{{ bet.team1_score_overtime }}" size="4" /> 
            </div>
            <div class="div-cell">
                &nbsp;
            </div>
            <div class="div-cell">
                <input type="text" name="team2_score_overtime" value="{{ bet.team2_score_overtime }}" size="4" />
            </div>
        </div>
    {% endif %}

    {% if match.penalties %} 
        <div class="div-row">
            <div class="div-cell">
                <input type="text" name="team1_score_penalties" value="{{ bet.team1_score_penalties }}" size="4" />
            </div>
            <div class="div-cell">
                &nbsp;
            </div>
            <div class="div-cell">
                <input type="text" name="team2_score_penalties" value="{{ bet.team2_score_penalties }}" size="4" />
            </div>
        </div>
    {% endif %}
    </div>

    <input type="submit" value="submit" />
</form>

{% endblock %}
