{% extends "base.html" %}

{% block title %}

Tipps

{% endblock %}


{% block content %}

<div class="small-gap"></div>

<div class="subnav">
    {% for pitem in pools %}
        {% if pitem == pool %}
            {{ pitem.label }} |
        {% else %}
            <a href="{% url 'bet.views.bets' pitem.id %}">{{ pitem.label }}</a> |
        {% endif %}
    {% endfor %}
</div>

<div class="subnav">
    <ul style="list-style-type: none">
    {% for myevt in myevents %}
        <li>
            {{ myevt.parent.label | default_if_none:"" }}
            {% for sub in myevt.sublist %}
                {% if sub == event %}
                    {{ sub.label }} |
                {% else %}
                    <a href="{% url 'bet.views.bets' pool.id sub.id %}">{{ sub.label }}</a> |
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
</div>

<div class="subnav">Meine Tipps | alle Tipps</div>


<div class="gap"></div>


<h2>Tipps für Spiele aus {{ event.label }}</h2>

    {% for matchbet in matchbets %}
        {% block _match %}
            {% include "bet/_match.html" %}
        {% endblock %}
    {% endfor %}

{% endblock %}