{% extends "base.html" %}

{% block title %}

Tipps

{% endblock %}


{% block content %}

<div class="message">
    {{ msg }}
</div>

<div class="small-gap"></div>

<div class="subnav">
    <ul style="list-style-type: none">
    {% for myevt in myevents %}
        <li>
            {{ myevt.parent.label | default_if_none:"" }}
            {% for sub in myevt.sublist %}
                {% if sub == event %}
                    {{ sub.label }} |
                {% else %}
                    <a href="{% url 'bet.views.mybets' sub.id %}">{{ sub.label }}</a> |
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
</div>


<div class="gap"></div>


<h2>{{ user.username }} Tipps für Spiele aus {{ event.label }}</h2>

    {% for matchbet in matchbets %}
        {% block _match %}
            {% include "bet/_match.html" %}
        {% endblock %}
    {% endfor %}

{% endblock %}