{% extends "base.html" %}

{% block title %}

Tipps

{% endblock %}


{% block content %}

<div class="small-gap"></div>

<div class="subnav">
    {% for evt in events %}
        {% if evt == event %}
            {{ evt.label }} |
        {% else %}
            <a href="{% url 'bet.views.mybets' evt.id %}">{{ evt.label }}</a> |
        {% endif %}
    {% endfor %}
</div>


<div class="gap"></div>


<h2>{{ user.username }} Tipps für Spiele aus {{ event.label }}</h2>

    {% for matchbet in matchbets %}
        {% block _match %}
            {% include "bet/_match.html" %}
        {% endblock %}
    {% endfor %}

{% endblock %}