{% extends "base.html" %}

{% block title %}

Tipps

{% endblock %}


{% block content %}

<div class="small-gap"></div>

<div class="subnav">
    {% for evt in events %}
        {% if evt == event %}
            {{ evt.label }} |
        {% else %}
            <a href="{% url 'bet.views.mybets' evt.id %}">{{ evt.label }}</a> |
        {% endif %}
    {% endfor %}
</div>


<div class="gap"></div>


<h2>Tipps für Spiele aus {{ event.label }}</h2>

    {% for matchbet in match_bets %}
        <div id="{{ matchbet.match.id }}" class="div-table bettable">
            
            <div class="div-row huge-gap">&nbsp;</div>
            
            <div class="div-row">
                <div class="div-cell bettable-r1">
                    <span class="toggle-bets">>></span>
                    {{ matchbet.match.begin | date:"d.m.Y, H:i" }}
                </div>
                <div class="div-cell right bettable-r2">
                    {{ matchbet.match.team1.name }}
                </div>
                <div class="div-cell center bettable-r3">
                    <span> : </span>
                </div>
                <div class="div-cell bettable-r4">
                    {{ matchbet.match.team2.name }}
                </div>
                <div class="div-cell bettable-r5">
                    <span> n. 90' </span>
                </div>
                <div class="div-cell bettable-r6">
                    <span> n. Verl. </span>
                </div>
                <div class="div-cell bettable-r7">
                    <span> Elfer </span>
                </div>
                <div class="div-cell bettable-r8">
                    Pkte
                </div>
            </div>

            <div class="div-row">
                <div class="div-cell bettable-r1">
                    Spielergebnis
                </div>
                <div class="div-cell right bettable-r2">
                    &nbsp;
                </div>
                <div class="div-cell center bettable-r3">
                    &nbsp;
                </div>
                <div class="div-cell bettable-r4">
                    &nbsp;
                </div>
                <div class="div-cell bettable-r5">
                    {% if matchbet.match.status == 30 and matchbet.match.team1_score_regular != None and matchbet.match.team2_score_regular != None %}
                        {{ matchbet.match.team1_score_regular }}
                        <span> : </span>
                        {{ matchbet.match.team2_score_regular }}
                    {% else %}
                        <div>
                            <span> - : - </span>
                        </div>
                    {% endif %}
                </div>
                <div class="div-cell bettable-r6">
                    {% if  matchbet.match.has_overtime %}
                        {% if  matchbet.match.status == 30 and matchbet.match.team1_score_overtime != None and matchbet.match.team2_score_overtime != None %}
                            {{ matchbet.match.team1_score_overtime }}
                            <span> : </span>
                            {{ matchbet.match.team2_score_overtime }}
                        {% else %}
                            <div>
                                <span> - : - </span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="div-cell bettable-r7">
                    {% if matchbet.match.has_penalties %}
                        {% if  matchbet.match.status == 30 and matchbet.match.team1_score_penalties != None and matchbet.match.team2_score_penalties != None %}
                            {{ matchbet.match.team1_score_penalties }}
                            <span> : </span>
                            {{ matchbet.match.team2_score_penalties }}
                        {% else %}
                            <div>
                                <span> - : - </span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="div-cell bettable-r8">
                    -
                </div>
            </div>
        
        {% for bet in matchbet.betlist %}
            <div class="div-row bets {% cycle 'even-row' 'odd-row' %}">
                <div class="div-cell bettable-r1">
                    {{ bet.account.membership.user.username }}
                </div>
                <div class="div-cell right bettable-r2">
                    &nbsp;
                </div>
                <div class="div-cell center bettable-r3">
                    &nbsp;
                </div>
                <div class="div-cell bettable-r4">
                    &nbsp;
                </div>
                <div class="div-cell bettable-r5">
                    {{ bet.team1_score_regular }} - {{ bet.team2_score_regular }}
                </div>
                <div class="div-cell bettable-r6">
                    {% if bet.overtime %}
                        {{ bet.team1_score_overtime }} - {{ bet.team2_score_overtime }}
                    {% endif %}
                </div>
                <div class="div-cell bettable-r7">
                    {% if bet.penalties %}
                        {{ bet.team1_score_penalties }} - {{ bet.team2_score_penalties }}
                    {% endif %}
                </div>
                <div class="div-cell bettable-r8">
                    {% if bet.match.status == 10 %}
                        {% if bet.account.membership.user_id == user.id %}
                            <a href="/bet/add_bet/{{bet.id}}">tippen</a>
                        {% endif %}
                    {% else %}
                        {{ bet.rating }}                    
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
    {% endfor %}
{% endblock %}